body {
    margin-left: auto;
    margin-right: auto;
}
textarea {
    vertical-align: top;
}
#name {
    text-align: right; 
    width: 130px;
}
#buttons2 {
   text-align: center;
}
#select {
    color: blue;
}
#feees {
    background-color: gray;
    
}
table {
    margin-left: auto;
    margin-right: auto;
}
#names {
    position: relative;
    top: -70px;
    text-align: right;
}
form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
    text-align: center;
}